.btn {
    font-size: 18px;
    font-weight: 700;
    color: #fffdf8;
    background: #5c0511;
    width: 200px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
}

.btn:hover, .btn:focus, .active {
    background: #f9ae48;
}