.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu a, .menu a:visited {
    font-size: 26px;
    transition: .4s ease color;
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.menu a:hover {
    color: #f9ae48;
}

.menu a.logo {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 36px;
}