:root {
  --header-footer-bg: #1c1c1c;
  --white: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@keyframes zoomIn {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}
